<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.dao.UserDao">
    <update id="updateLoginPassword">
        UPDATE user
        SET login_password = #{newPassword}
        where status = 1 and id = #{userId} and login_password = #{loginPassword}
    </update>

    <select id="getLoginUserByMap" resultType="com.back.vo.UserVo">
        SELECT
        u.id AS userId,
        u.user_name as userName,
        u.login_name AS loginName,
        u.login_password AS password
        FROM user u
        <where>
            <if test="loginName != null and loginName !=''">
                and u.login_name = #{loginName}
            </if>
            <if test="password != null">
                and u.login_password = #{password}
            </if>
            <if test="userId != null ">
                and u.id = #{userId}
            </if>
            <if test="status != null">
                and u.status = #{status}
            </if>
            <if test="status == null">
                and u.status = 1
            </if>
        </where>
        limit 1
    </select>
    <select id="getLoginUserByLoginName" resultType="com.back.vo.UserVo">
        SELECT
        u.id AS userId,
        u.login_name AS loginName,
        u.login_password AS password
        FROM user u
        WHERE u.status = 1 and u.login_name = #{loginName}
    </select>
    <select id="getUserByIdAndPassword" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM user u
        WHERE u.status = 1 and u.id = #{userId} and u.login_password = #{loginPassword}
    </select>
</mapper>