.datagrid-header-row td{background-color:#1AB1D8;color:#fff;text-align:center}
.fixed-table-header div{background-color:#1AB1D8;color:#fff;text-align:center}
.sel_btn {
	height: 20px;
	line-height: 20px;
	padding: 0 11px;
	border-radius: 8px;
	display: inline-block;
	font-size: 12px;
	outline: none;
	color: #210880;
}
.ch_cls {
	background: #c4e4f1;
}